<p class="text-center mt-5">Exchange Rate in real time</p>
<div class="box border rounded-pill border-danger">
  <span class="amount">Amount : </span>
  <input class="inpu form-control" type="number">
  <div class="drop1">
    <select (change)="selectCurrency($event.target.value)" class="btn btn-primary" name="list" id="list">
      <option selected disabled hidden></option>
      <option *ngFor="let currency of currencies" value={{currency}}>{{currency}}</option>
    </select>
  </div>
  <div class="drop2">
    <select (change)="selectCurrency($event.target.value)" class="btn btn-primary" name="list" id="list">
      <option selected disabled hidden></option>
      <option *ngFor="let currency of currencies" value={{currency}}>{{currency}}</option>
    </select>
  </div>
</div>
