<p class="text-center mt-5">Exchange Rate in real time</p>
<div class="row justify-content-center">
  <div class="col-md-6 ">
    <div class="row">
      <div class="col-sm-5 justify-content-center">
        <div class="drop">
          <select (change)="selectCurrency($event.target.value)" class="btn btn-primary form-control" name="list"
            id="list">
            <option *ngFor="let currency of currencies" value={{currency}}>{{currency}}</option>
          </select>
        </div>
        <span class="amount">Amount : </span>
        <input class="inpu form-control">
      </div>
      <div class="col-sm-2 justify-content-center">
        <button class="btn btn-primary">Switch</button>
      </div>
      <div class="col-sm-5 justify-content-center">
        <div class="drop">
          <select (change)="selectCurrency($event.target.value)" class="btn btn-primary form-control" name="list"
            id="list">
            <option *ngFor="let currency of currencies" value={{currency}}>{{currency}}</option>
          </select>
        </div>
        <span class="amount">Result : </span>
        <input class="inpu form-control">
      </div>
    </div>
  </div>
</div>